body {
  background-color: #fff;
  background: linear-gradient(#ccc, #fff);
  font: 14px serif, sans-serif;
   text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
  width: 80%;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 30px rgba(0,0,0,0.1), 1px 1px 3px rgba(0,0,0,0.2);
}

.work-exp {
  
  text-align: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
 
}

.education {
  
  text-align: left;
  border-top: 1px solid;
  border-bottom: 1px solid;
  
}
